.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.mysmg{
    background: black;
    color: white;
}
.msgbox{
    width: 100%;
    border-radius: 10px;
    background: black;
    resize: none;
    padding-right: 10px;
    color: white;

}
.msgbutt{
    background: black;
    color: white;
}