
.profile{
    --background: black;
    color: white;
}
p{
    font-family: oblique;
    font-style: arial;
    font-size: 20px;
    margin-left: 2%;
    background-color: black;
    color: white;

}
ion-img{
    height: 200px;
    width: 150px;
    margin-left: 2%;
}