<ion-header [translucent]="true">
  <ion-toolbar class="profile">
  <ion-title>
    Profile
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-img src="assets/image/pro.jpg"></ion-img>

  <br>
  <br>
<ion-toolbar>
  <p>Name: Canasta Elio C.</p>
  <p>Age: 24 years old</p>
  <p>Address: Brgy. Parena Carigara, Leyte</p>
  <p>Gender: Male</p>
  <p>Status: Single</p>
  <p>Religion: Roman Catholic</p>
</ion-toolbar>
 
</ion-content>