<ion-header [translucent]="true">
  <ion-toolbar  class="head1">
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   <ion-toolbar>
     <ion-title size="large">Tab 3</ion-title>
   </ion-toolbar>
 </ion-header>
 <br><br><br><br>
<ion-card>
  <img src="assets/image/fb.png" alt="coudnt load image" width="90" height="80">
  <big>Facebook: Elio Canasta</big>
</ion-card>
<br>
<ion-card>
  <img src="assets/image/gmail.png" alt="coudnt load image" width="90" height="80">
  <big>Gmail: eliocanasta1720@gmail.com</big>
</ion-card>
<br>
<ion-card>
  <img src="assets/image/cpp.png" alt="coudnt load image" width="90" height="80">
  <big>Contact Number: +639562361535</big>
</ion-card>

</ion-content>
 
