.head1{
    --background: black;
    color: white;
}big{
    font-size: 30px;
    margin-left: 25px;
}
ion-card{

    width: 200%;
    font-size: 20px;
    background-color: black;
    color: white;
}
